In [397]:
import requests
import pandas as pd
import json
from pandas import json_normalize
from urllib.parse import urlencode, urlparse, parse_qsl
import pymysql
pymysql.install_as_MySQLdb()

In [398]:
dir_base = 'E:/pc/Downloads/'

In [399]:
df1 = pd.read_csv(dir_base+'/dataset_bd.csv')
df1.shape

(1000, 15)

In [400]:
df1.head(2)

,srl_id,int_index,var_nombre1,var_nombre2,var_nombre3,var_direccion1,var_direccion2,var_direccion3,var_colonia,var_municipio_del,var_cp,var_entre_calle1,var_entre_calle2,var_estado,var_nomb_comp
0,4035,0,CENTRO PAPELERO SUN-,RISE SA DE CV,NaN,REGINA,135,ACCE A,CENTRO #AREA 9#,CUAUHTEMOC,6090,125,126,CDMX,CENTRO PAPELERO SUN-RISE SA DE CV
1,4036,1,ECOTRANSPORTES ZERME,NO GARCIA SA DE CV,NaN,VALPARAISO,65,1,TEPEYAC INSURGENTES,GUSTAVO A MADERO,7020,1,2,CDMX,ECOTRANSPORTES ZERMENO GARCIA SA DE CV

In [401]:
dataset_CDMX = df1[df1["var_estado"] == "CDMX"]

df2 = dataset_CDMX[['srl_id','var_nomb_comp', 'var_estado', 'var_colonia', 'var_cp']]
df2.var_nomb_comp = df2.var_nomb_comp.str.replace("  ", " ")
df2.var_nomb_comp = df2.var_nomb_comp.str.replace("   ", " ")
df2.var_nomb_comp = df2.var_nomb_comp.str.replace(".", " ")
df2.var_nomb_comp = df2.var_nomb_comp.str.replace("-", "")
df2.var_colonia = df2.var_colonia.str.replace("#", "")
df2["var_query_API"] = df2.var_estado + " " + df2.var_nomb_comp
df2.reset_index(drop=True, inplace=True)

df2["var_query_API"] = df2["var_query_API"].apply(lambda x: x[0:40] if len(x) > 40 else x)

df2.shape

D:\Instalaciones\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
<ipython-input-401-451593957b10>:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df2.var_nomb_comp = df2.var_nomb_comp.str.replace(".", " ")
<ipython-input-401-451593957b10>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["var_query_API"] = df2.var_estado + " " + df2.var_nomb_comp
<ipython-input-401-451593957b10>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["var_query_API"] = df2["var_query_API"].apply(lambda x: x[0:40] if len(x) > 40 else x)

(332, 6)

In [402]:
df2['var_query_API'][0:20]

0        CDMX CENTRO PAPELERO SUNRISE SA DE CV
1     CDMX ECOTRANSPORTES ZERMENO GARCIA SA DE
2                           CDMX MASVIDA SA CV
3                  CDMX TPS CONTAINER SA DE CV
4     CDMX COMERCIALIZADORA CRUZ TREJO ROEL SA
5             CDMX US STICK DE MEXICO SA DE CV
6     CDMX EMPAQUES Y ACABADOS LITOGRAFICOS SA
7                         CDMX DIMTEL SA DE CV
8              CDMX ARESA REFACCIONES SA DE CV
9           CDMX SINERGIAS ECOLOGICAS SA DE CV
10           CDMX PERFIHERRAJES IMMSA SA DE CV
11    CDMX MULTISERVICIOS EN MERCADOTECNIA Y C
12       CDMX LAMINA PERFIL Y RECORTE SA DE CV
13                       CDMX HEGUTEX SA DE CV
14        CDMX EDITORIAL IZTACCIHUATL SA DE CV
15    CDMX SOLUCIONES INTEGRALES VISION ARQUIT
16                     CDMX LITOLOVER SA DE CV
17                  CDMX ANYMATE SHOW SA DE CV
18             CDMX GASTRONOMICA LIVA SA DE CV
19                   CDMX SAC DESIGNS SA DE CV
Name: var_query_API, dtype: object

In [403]:
dfp1 = pd.DataFrame()
dfp1 = df2["var_nomb_comp"].str.split(' ', expand=True)
dfp1.columns = ['letra1', 'letra2', 'letra3', 'letra4', 'letra5', 'letra6', 'letra7', 'letra8', 'letra9', 'letra10']

In [404]:
dfp1['letra1__1'] = dfp1['letra1'].str.len()
dfp1[dfp1['letra1__1'] > 13]

,letra1,letra2,letra3,letra4,letra5,letra6,letra7,letra8,letra9,letra10,letra1__1
1,ECOTRANSPORTES,ZERMENO,GARCIA,SA,DE,CV,None,None,None,None,14
4,COMERCIALIZADORA,CRUZ,TREJO,ROEL,SA,DE,CV,None,None,None,16
11,MULTISERVICIOS,EN,MERCADOTECNIA,Y,COMERCIALIZACION,SA,DE,CV,None,None,14
21,ENCUADERNADORA,MEXICANA,SA,DE,CV,None,None,None,None,None,14
55,ADMINISTRACION,MEDICA,ESPECIALIZADA,SA,DE,CV,None,None,None,None,14
57,TELECOMUNICACIONES,COMMSERVICE,SA,DE,CV,None,None,None,None,None,18
95,TECNOCOMUNICACIONES,DIMA,SA,DE,CV,None,None,None,None,None,19
109,COMERCIALIZADORA,GERMINAL,SA,DE,CV,None,None,None,None,None,16
117,CONSTRUCCIONES,INGENIERIA,E,INNOVACION,AG2M,SA,DE,CV,None,None,14
148,GEOEVALUACIONES,Y,PERFORACIONES,SA,DE,CV,None,None,None,None,15
160,COMERCIALIZADORA,EL,VEDAT,SA,DE,CV,None,None,None,None,16
169,INTERCONTINENTAL,LOGISTICS,CARGO,SA,DE,CV,None,None,None,None,16
188,COMERCIALIZADORA,SETCOMPUTERS,SA,DE,CV,None,None,None,None,None,16
194,COMERCIALIZADORA,SEDARI,SA,DE,CV,None,None,None,None,None,16
196,COMERCIALIZADORA,ADISH,S,DE,RL,DE,CV,None,None,None,16
212,SOLUCIONICINMOBILIARIA,CORPORATIVA,SA,DE,CV,None,None,None,None,None,22
222,COMERCIALIZADORA,ESISA,SA,DE,CV,None,None,None,None,None,16
232,COMERCIALIZADORA,DE,PRODUCTOS,UNICOS,SA,DE,CV,None,None,None,16
239,MOVIMATERIALES,SA,DE,CV,None,None,None,None,None,None,14
267,COMERCIALIZADORA,DE,SERV,IND,Y,SUMINISTROS,FH,SA,DE,CV,16
271,TECNOINDUSTRIAS,PADILLA,SA,DE,CV,None,None,None,None,None,15
292,COMERCIALIZADORA,COFLI,SA,DE,CV,None,None,None,None,None,16
316,PROCEDIMIENTOS,TEXTILES,SA,DE,CV,None,None,None,None,None,14

In [406]:
eliminar_fila = df1[df1['var_nomb_comp'].str.contains("MULTISERVICIOS", case=False)].index
df2.drop(eliminar_fila , inplace=True)
df2.reset_index(drop=True, inplace=True)

D:\Instalaciones\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [ ]:

df2.drop(9 , inplace=True)
df2.reset_index(drop=True, inplace=True)

In [407]:
df2p = pd.DataFrame()
df2p['var_query_API'] = None
df2p['var_place_id'] = None
df2p['var_review_rating'] = None
df2p.head()

Empty DataFrame
Columns: [var_query_API, var_place_id, var_review_rating]
Index: []

In [408]:
def requestGoogleMaps_PlaceID(query):
    res=""
    detail_params ={}
    global df2p
    data_type = 'json'
    token = "AIzaSyAMLoWehsA7y8XwCPZLcAXWYahrO_m3ppM"    

    detail_base_endpoint = f"https://maps.googleapis.com/maps/api/place/textsearch/{data_type}"
    detail_params = {
        "query": f"{query}",
        "key": token
    }
    detail_params_encoded = urlencode(detail_params)
    detail_url = f"{detail_base_endpoint}?{detail_params_encoded}"
    

    res = requests.get(detail_url)
    if res.status_code != 200:
        print(res.text)
        raise ValueError("Bad Response")
    resp_details = res.json()
    
    place_id = resp_details['results'][0]['place_id']
    review_rating = resp_details['results'][0]['rating']
#     new_row = str(place_id) + "," + str(review_rating)
#     return new_row

    new_row = {'var_query_API': query, 'var_place_id': place_id, 'var_review_rating': review_rating}
    df2p = df2p.append(new_row, ignore_index=True)

In [409]:
# def consultar_placeID(x,y):
#     df2['result_PlaceID'].iloc[x:y] = df2['var_query_API'].iloc[x:y].apply(requestGoogleMaps_PlaceID)

# df2['result_PlaceID'] = df2['var_query_API'].iloc[0:5].apply(requestGoogleMaps_PlaceID)
df2['var_query_API'].iloc[0:60].apply(requestGoogleMaps_PlaceID)

IndexError: list index out of range

In [459]:
df2['var_query_API'].iloc[323:325].apply(requestGoogleMaps_PlaceID)

Series([], Name: var_query_API, dtype: object)

In [460]:
df2p.iloc[-1]

var_query_API               CDMX LOREPA SA DE CV
var_place_id         ChIJzxwaTvYB0oUR4nldozV6wF0
var_review_rating                            4.5
Name: 323, dtype: object

In [455]:
eliminar_indice = df2[df2['var_query_API'] == df2p.iloc[-1].var_query_API].index.tolist()[0] + 1
df2.drop(eliminar_indice , inplace=True)
df2.reset_index(drop=True, inplace=True)

In [461]:
df2.iloc[-1]

srl_id                           5033
var_nomb_comp         LOREPA SA DE CV
var_estado                       CDMX
var_colonia                IZTAPALAPA
var_cp                           9810
var_query_API    CDMX LOREPA SA DE CV
Name: 322, dtype: object

In [490]:
df2p = df2p.drop_duplicates()
df2p.shape

(306, 3)

In [473]:
df2.shape

(323, 6)

In [535]:
df_place_merge = pd.DataFrame()
df_place_merge = pd.merge(df2, df2p, on='var_query_API', how='right')
df_place_merge.shape

(306, 8)

In [492]:
# result_place = df2["result_PlaceID"].str.split(',', expand=True)
# result_place.columns = ['var_place_id', 'int_califi_estrellas']
# df2 = pd.concat([df2, result_place], axis=1)

In [493]:
df_place_merge.head(20)

,srl_id,var_nomb_comp,var_estado,var_colonia,var_cp,var_query_API,var_place_id,var_review_rating
0,4035,CENTRO PAPELERO SUNRISE SA DE CV,CDMX,CENTRO AREA 9,6090,CDMX CENTRO PAPELERO SUNRISE SA DE CV,ChIJyaF3Usn-0YUR_D0vYHG_I-U,4.1
1,4036,ECOTRANSPORTES ZERMENO GARCIA SA DE CV,CDMX,TEPEYAC INSURGENTES,7020,CDMX ECOTRANSPORTES ZERMENO GARCIA SA DE,ChIJD3CppXBd54YRiYacCzrBQzM,4.4
2,4038,MASVIDA SA CV,CDMX,JUAREZ,6600,CDMX MASVIDA SA CV,ChIJl4bfdzb_0YUREktpEupckTw,0.0
3,4040,TPS CONTAINER SA DE CV,CDMX,INDUSTRIAL VALLEJO,2300,CDMX TPS CONTAINER SA DE CV,ChIJy3lqThT40YURG9W4R1mMWwU,0.0
4,4041,COMERCIALIZADORA CRUZ TREJO ROEL SA DE CV,CDMX,POLANCO,11560,CDMX COMERCIALIZADORA CRUZ TREJO ROEL SA,ChIJl1L-e7D40YUR0LMrRcbPSZI,0.0
5,4042,US STICK DE MEXICO SA DE CV,CDMX,SANTA MARIA AZTAHUAC,9570,CDMX US STICK DE MEXICO SA DE CV,ChIJp6Z2vesCzoURRYYFgKU867Y,4.3
6,4043,EMPAQUES Y ACABADOS LITOGRAFICOS SA DE CV,CDMX,GRANJAS MEXICO,8400,CDMX EMPAQUES Y ACABADOS LITOGRAFICOS SA,ChIJeUdjoq350YURaU-jT1G9ZtA,0.0
7,4044,DIMTEL SA DE CV,CDMX,VALLE DEL SUR,9819,CDMX DIMTEL SA DE CV,ChIJ43FdXUgCzoURwlH17eaNdu8,4.6
8,4045,ARESA REFACCIONES SA DE CV,CDMX,GRANJAS MEXICO,8400,CDMX ARESA REFACCIONES SA DE CV,ChIJQz5sCyf80YURqfCCrc0-8VE,0.0
9,4047,PERFIHERRAJES IMMSA SA DE CV,CDMX,GRANJAS MEXICO,8400,CDMX PERFIHERRAJES IMMSA SA DE CV,ChIJK6oKypz-0YUR8nygZlvYWjA,4.6
10,4048,MULTISERVICIOS EN MERCADOTECNIA Y COMERCIALIZA...,CDMX,TLACOQUEMECATL,3200,CDMX MULTISERVICIOS EN MERCADOTECNIA Y C,ChIJ__8rwP8B0oURlbQO2nThODQ,0.0
11,4049,LAMINA PERFIL Y RECORTE SA DE CV,CDMX,SANTO TOMAS,2020,CDMX LAMINA PERFIL Y RECORTE SA DE CV,ChIJBwCQaGP40YURT5AhqH0xE4c,4.5
12,4051,EDITORIAL IZTACCIHUATL SA DE CV,CDMX,SAN RAFAEL,6470,CDMX EDITORIAL IZTACCIHUATL SA DE CV,ChIJAQA_uc3-0YUR8eDl3wYW0hc,0.0
13,4052,SOLUCIONES INTEGRALES VISION ARQUITECTONICA SU...,CDMX,GUADALUPE INN,1020,CDMX SOLUCIONES INTEGRALES VISION ARQUIT,ChIJYT7Bmpq5BZERl6Y0YaglL4I,0.0
14,4053,LITOLOVER SA DE CV,CDMX,MOCTEZUMA 2DA SECC,15500,CDMX LITOLOVER SA DE CV,ChIJe6cZXlX50YURZyp4uMnK8ZY,3.0
15,4054,ANYMATE SHOW SA DE CV,CDMX,SAN JOSE INSURGENTES,3900,CDMX ANYMATE SHOW SA DE CV,ChIJjewo3AL-0YURUrRHK-NX2fs,4.4
16,4055,GASTRONOMICA LIVA SA DE CV,CDMX,LAS AGUILAS,1710,CDMX GASTRONOMICA LIVA SA DE CV,ChIJ8VewRiIA0oURp8OxDkyxcLY,4.4
17,4056,SAC DESIGNS SA DE CV,CDMX,IRRIGACION,11500,CDMX SAC DESIGNS SA DE CV,ChIJCXgGGtr-0YURMCw54jPrpcY,4.1
18,4057,AMERICAN HOTEL SA DE CV,CDMX,POPOTLA,11400,CDMX AMERICAN HOTEL SA DE CV,ChIJl1RuctH40YURvlyveo44ge4,3.0
19,4058,ENCUADERNADORA MEXICANA SA DE CV,CDMX,TACUBA,11410,CDMX ENCUADERNADORA MEXICANA SA DE CV,ChIJs89YyFwCzoURYF_0fQn332A,4.3

In [508]:
sin_calificacion = df_place_merge[df_place_merge['var_review_rating'] == 0 ].index
df_place_merge.drop(sin_calificacion , inplace=True)
df_place_merge.reset_index(drop=True, inplace=True)
df_place_merge['var_review_rating'] = df_place_merge['var_review_rating'].astype(str)
df_place_merge.head(10)

,srl_id,var_nomb_comp,var_estado,var_colonia,var_cp,var_query_API,var_place_id,var_review_rating
0,4035,CENTRO PAPELERO SUNRISE SA DE CV,CDMX,CENTRO AREA 9,6090,CDMX CENTRO PAPELERO SUNRISE SA DE CV,ChIJyaF3Usn-0YUR_D0vYHG_I-U,4.1
1,4036,ECOTRANSPORTES ZERMENO GARCIA SA DE CV,CDMX,TEPEYAC INSURGENTES,7020,CDMX ECOTRANSPORTES ZERMENO GARCIA SA DE,ChIJD3CppXBd54YRiYacCzrBQzM,4.4
2,4042,US STICK DE MEXICO SA DE CV,CDMX,SANTA MARIA AZTAHUAC,9570,CDMX US STICK DE MEXICO SA DE CV,ChIJp6Z2vesCzoURRYYFgKU867Y,4.3
3,4044,DIMTEL SA DE CV,CDMX,VALLE DEL SUR,9819,CDMX DIMTEL SA DE CV,ChIJ43FdXUgCzoURwlH17eaNdu8,4.6
4,4047,PERFIHERRAJES IMMSA SA DE CV,CDMX,GRANJAS MEXICO,8400,CDMX PERFIHERRAJES IMMSA SA DE CV,ChIJK6oKypz-0YUR8nygZlvYWjA,4.6
5,4049,LAMINA PERFIL Y RECORTE SA DE CV,CDMX,SANTO TOMAS,2020,CDMX LAMINA PERFIL Y RECORTE SA DE CV,ChIJBwCQaGP40YURT5AhqH0xE4c,4.5
6,4053,LITOLOVER SA DE CV,CDMX,MOCTEZUMA 2DA SECC,15500,CDMX LITOLOVER SA DE CV,ChIJe6cZXlX50YURZyp4uMnK8ZY,3.0
7,4054,ANYMATE SHOW SA DE CV,CDMX,SAN JOSE INSURGENTES,3900,CDMX ANYMATE SHOW SA DE CV,ChIJjewo3AL-0YURUrRHK-NX2fs,4.4
8,4055,GASTRONOMICA LIVA SA DE CV,CDMX,LAS AGUILAS,1710,CDMX GASTRONOMICA LIVA SA DE CV,ChIJ8VewRiIA0oURp8OxDkyxcLY,4.4
9,4056,SAC DESIGNS SA DE CV,CDMX,IRRIGACION,11500,CDMX SAC DESIGNS SA DE CV,ChIJCXgGGtr-0YURMCw54jPrpcY,4.1

In [518]:
df3 = pd.DataFrame()
df3['var_place_id'] = None
df3['var_review_rating_c'] = None
df3['var_review_time'] = None
df3['var_review_text'] = None
df3.head()

Empty DataFrame
Columns: [var_place_id, var_review_rating_c, var_review_time, var_review_text]
Index: []

In [520]:
def requestGoogleMaps_Reviews(place_id):
    global df3
    data_type = 'json'
    token = "AIzaSyAMLoWehsA7y8XwCPZLcAXWYahrO_m3ppM"    

    detail_base_endpoint = f"https://maps.googleapis.com/maps/api/place/details/{data_type}"
    detail_params = {
        "place_id": f"{place_id}",
        "key": token
    }
    detail_params_encoded = urlencode(detail_params)
    detail_url = f"{detail_base_endpoint}?{detail_params_encoded}"
    
    res = requests.get(detail_url)
    if res.status_code != 200:
        print(res.text)
        raise ValueError("Bad Response")
    resp_details = res.json()

    if resp_details['status']=="OK":
        for i in range(len(resp_details["result"]["reviews"])):
            review_rating = resp_details['result']['reviews'][i]['rating']
            review_time = resp_details['result']['reviews'][i]['relative_time_description']
            review_timestamp = resp_details['result']['reviews'][i]['time']
            review_text = resp_details['result']['reviews'][i]['text']
            new_row = {'var_place_id':resp_details['result']['place_id'], 'var_review_rating_c': review_rating, 'var_review_time': review_time, 'var_review_text': review_text}
            df3 = df3.append(new_row, ignore_index=True)
            
#             new_row =str(resp_details['result']['place_id']) + "," + str(review_rating) + "," + str(review_time) + "," + str(review_timestamp) + "," + str(review_text)
#             return new_row

In [521]:
# df2['result_reviews'] = df2['var_place_id'].iloc[0:5].apply(requestGoogleMaps_Reviews)
df_place_merge['var_place_id'].apply(requestGoogleMaps_Reviews)

0      None
1      None
2      None
3      None
4      None
       ...
203    None
204    None
205    None
206    None
207    None
Name: var_place_id, Length: 208, dtype: object

In [538]:
df3['var_review_rating_c'] = df3['var_review_rating_c'].astype(str)
df_reviews_merge = pd.DataFrame()
df_reviews_merge = pd.merge(df3, df_place_merge, on='var_place_id', how='right')
df_reviews_merge.head()

,var_place_id,var_review_rating_c,var_review_time,var_review_text,srl_id,var_nomb_comp,var_estado,var_colonia,var_cp,var_query_API,var_review_rating
0,ChIJyaF3Usn-0YUR_D0vYHG_I-U,3,5 years ago,They offer you good products of the Sunrise br...,4035,CENTRO PAPELERO SUNRISE SA DE CV,CDMX,CENTRO AREA 9,6090,CDMX CENTRO PAPELERO SUNRISE SA DE CV,4.1
1,ChIJyaF3Usn-0YUR_D0vYHG_I-U,5,3 years ago,Good place to shop for supplies. Seniors...,4035,CENTRO PAPELERO SUNRISE SA DE CV,CDMX,CENTRO AREA 9,6090,CDMX CENTRO PAPELERO SUNRISE SA DE CV,4.1
2,ChIJyaF3Usn-0YUR_D0vYHG_I-U,1,4 years ago,For not reviewing their products they printed ...,4035,CENTRO PAPELERO SUNRISE SA DE CV,CDMX,CENTRO AREA 9,6090,CDMX CENTRO PAPELERO SUNRISE SA DE CV,4.1
3,ChIJyaF3Usn-0YUR_D0vYHG_I-U,5,4 years ago,"Extended Papers, Educational Material and Unic...",4035,CENTRO PAPELERO SUNRISE SA DE CV,CDMX,CENTRO AREA 9,6090,CDMX CENTRO PAPELERO SUNRISE SA DE CV,4.1
4,ChIJyaF3Usn-0YUR_D0vYHG_I-U,4,3 years ago,Very good attention,4035,CENTRO PAPELERO SUNRISE SA DE CV,CDMX,CENTRO AREA 9,6090,CDMX CENTRO PAPELERO SUNRISE SA DE CV,4.1

In [532]:
var2 = df_reviews_merge[df_reviews_merge['srl_id'] == 4451].index.tolist()[0]
var2

334

In [539]:
for cont in range(len(df_place_merge)):
    conn = pymysql.connect(host='hackaton.czla5cmf9lk9.us-east-1.rds.amazonaws.com', user='admin', password='a2d0m2i2n', database='hackaton')
    with conn:
        with conn.cursor() as cursor:
            sql = "INSERT INTO `empresa_google` (`int_id_dataset`, `var_nomb_comp`, `var_direccion`, `int_califi_estrellas`) VALUES (%s, %s, %s, %s)"
            cursor.execute(sql, (df_place_merge["srl_id"][cont], df_place_merge["var_nomb_comp"][cont], df_place_merge["var_colonia"][cont], df_place_merge["var_review_rating"][cont]))
        conn.commit()

In [534]:
for cont in range(len(df_reviews_merge)):
    if cont >= 334:
        conn = pymysql.connect(host='hackaton.czla5cmf9lk9.us-east-1.rds.amazonaws.com', user='admin', password='a2d0m2i2n', database='hackaton')

        with conn:
            with conn.cursor() as cursor:
                sql = "INSERT INTO `empresa_google_comentarios` (`int_id_empresa_google`, `var_comentario`, `int_califi_estrellas`) VALUES (%s, %s, %s)"
                cursor.execute(sql, (df_reviews_merge["srl_id"][cont], df_reviews_merge["var_review_text"][cont], df_reviews_merge["var_review_rating_c"][cont]))
            conn.commit()